@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

html,
body {
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100vw;
	font-family: 'Inconsolata', monospace;
}

body {
	min-height: fit-content;
	overflow-x: hidden;
}